*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: #F2F2F2;
    font-weight: 400;
}
html{
    font-size: 1.8vmin;
}
a {
    text-decoration: none;
}
li{
    list-style: none;
}

main{
    background: linear-gradient(286.13deg, #64DFDF 4.4%, #56CFE1 17.74%, #4EA8DE 27.75%, #5390D9 40.51%, #5E60CE 53.24%, #6930C3 66.13%, #6528B8 79.77%, #580C92 93.23%);
    max-height: 100%;

}
header{
    font-size: 1.1rem;
}

/* Id Section*/

#navbar{
    display: flex;
    justify-content: space-between;
    padding: 3rem;

}

#navbar ul{
    display: flex;
    align-content: space-between;
    font-size:1.2rem;
    margin-right: 1rem;
}
#navbar ul li a{
    padding-right: 5rem;
}
#logo-header{
    font-size: 1.2rem;
    padding-left: 5rem;
    padding-right:5rem;
}


/* Main Section*/

#aboutme{
    color: #63FFFF;
    font-weight: bold;
}
article{
    display:flex;
    align-items: center;
    justify-content: center;
    line-height:4rem;
    letter-spacing: 0;
    height: 85vh;
    margin-top: -1%;
    padding:1rem;
    
}
.header-text{
    font-size: 3rem;
    font-weight: 600;

}
.main-color{
    color: #63FFFF;
}
#webdev{
    color: #63FFFF;
}
article p{
    color:#F2F2F2;
    font-size:2rem;
    font-weight: lighter;

}  
.contact{
    margin-left: 0%;
}
.contact img{
    margin: 1.5rem;
    width: 2.2rem;

}
.contact img:last-child{
    width: 2.7rem;
}
#main-ilustration-div{
   
}

@media only screen and (max-width:620px) {
    body{
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        background: linear-gradient(285.15deg, #64DFDF -16.45%, #5390D9 0.76%, #4EA8DE 19.22%, #5E60CE 41.99%, #6930C3 63.15%, #6528B8 80.74%, #580C92 98.09%);    }
    html{
        font-size: 2.5vmin;
    }
    .header-desc{
        margin-bottom: 2rem;
    }
    .image-view{
        max-width: 38rem;
        opacity: 85%;
        border-radius: 1rem;
        box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);

    }
    #navbar{
        padding: 1.8rem;

    }

   
    #navbar ul li a{
        padding-left: 0rem;
        margin-left: -1.5rem;

    }
    #navbar h1 span{
        margin-left: -4rem;
    }
    article{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: flex-start;
        margin: 4rem;
        max-height: 70vh;
        margin-bottom: 7rem;
    }
    #main-ilustration{
        align-self: flex-start;
        max-width: 37rem;
        padding-right: 3rem;
        margin-bottom: 5rem;
        margin-top:2rem;

    }
    #lia-page{
        opacity: 100%;
        padding: 1rem;
        margin-bottom: -1.8rem;
        border-radius: 2rem;
        box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
        
    }
    #lia-page-section{
        background: url(/Svgs/plsno/discord-backgroubd.jpg);
        border-radius: 2rem;
        box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
    }
    #main-ilustration-div{

        
    }
}   