*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: #DAE0DD;
    font-weight: 200;
}
html{
    font-size: 1.8vmin;
}
a {
    text-decoration: none;
}
li{
    list-style: none;
}

main{
    background-color: rgba(0, 23, 31, 1);
    max-height: 100%;

}
header{
    font-size: 1.1rem;
}

/* Id Section*/

#navbar{
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    width: 85vw;
    margin-left:2%;

}

#navbar ul{
    display: flex;
    align-content: space-between;
    font-size:1.2rem;
    margin-left: 1rem;
}
#navbar ul li a{
    padding-right: 0;
}
#logo-header{
    font-size: 1.2rem;
    padding-left: 5rem;
    padding-right:5rem;
}


/* Main Section*/


article{
    display:flex;
    align-items: center;
    justify-content: center;
    line-height:3.8rem;
    letter-spacing: 0;
    margin-top: -1%;
    padding:1rem;
    
}
.header-text{
    font-size: 2.7rem;
    font-weight: 600;

}
#webdev{
    font-size:2.3rem
}
.main-color{
    color: #63FFFF;
}

article p{
    color:#DAE0DD;
    font-size: 1.8rem;
    font-weight: lighter;

}  
.contact{
    margin-left: 0%;
}
.contact img{
    margin: 1.5rem;
    width: 2.2rem;

}
.contact img:last-child{
    width: 2.7rem;
}
.card-section{
    background-color: #091D30;
    flex-direction: row;
    width: 40%;
}

@media only screen and (max-width:620px) {
    body{
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        background-color: rgba(0, 23, 31, 1);
    }
    html{
        font-size: 2.5vmin;
    }
    .header-desc{
        margin-bottom: 2rem;
    }
    .image-view{
        width: 85vw;
        opacity: 100%;
        border-radius: 1rem;
        margin-top:2rem;
        border:#DAE0DD solid 0.3rem;
    }
    #discord-logo{
        background-repeat: no-repeat;
        background-image: url(/Svgs/without\ button.svg);
        background-size: cover;
        line-height: 0;
    }
    #mobile-dark-style{
        max-width: 28vw;
        
    }
    #mobile-dark-style-reversed{
        max-width: 50vw;
        margin-left: 2rem;
        height: 100%;
        align-self: center;
        
    }
    }
    #navbar{
        padding: 1.8rem;
        margin-bottom: -3rem;
    }

   
    #navbar ul li a{
        padding-left: 0rem;
        margin-left: 2rem;

    }
    #navbar h1 span{
        margin-left: -4rem;
    }
   
    /*nav ul li:first-of-type{
        background-color: black;
        margin-left: -8rem;
    }*/
    ul li{
       
        padding-left:2rem;
        max-width: 20vw;
    }
    article{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: flex-start;
        margin-top: 10rem;
        margin-bottom: 1rem;
    }
    #main-ilustration{
        align-self: flex-start;
        width: 33rem;
        padding-right: 3rem;
        margin-top:3rem;

    }
    #lia-page{
        margin-bottom: -1.8rem;
        border-radius: 2rem;
      
        
    }
    #lia-page-section{
        border-radius: 2rem;
    }
    #welcome-div{
        padding-bottom: 0rem;
    }
   
    .content-section{
        margin-top: 2rem;
    }
        .content-section{
        background-color: rgba(0, 52, 89, 0.15);
        border:#DAE0DD 0.4rem solid;
        border-radius: 1.8rem;
        width: 85vw;
        padding:3rem 1rem 3rem;
        align-self: center;
    }
    section > p{
        line-height: 3rem;
        padding-top:0.8rem;
    }
    .mobile-section{
        max-width: 83vw;
        display: flex;
        margin: 5rem;
     
    }
    .mobile-view{
        border:#DAE0DD 0.3rem solid;
        border-radius: 1rem;
    }
#blog-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}
.card-section>p{
    font-size: 1rem;
    line-height: 1.5rem;
}
.card-section{
    text-align: start;
    line-height: 1rem;
    padding: 1rem 1.5rem 3rem 1rem;
    max-width: 50%;
    border-radius: 1.2rem;
}

.card-section>h4{
    margin-top: 1rem;
    margin-bottom: 2rem;
    line-height: 1rem;
}
.two-cards-section{
    display: flex;
    justify-content: space-evenly;
    width: 85vw;
    margin-top: 1.5rem;
}
article:last-child{
    border: none;
}

#footer-section{
    display: flex;
    margin-top: 0;

}
#footer{
    padding: 0;
    background: #001C27;
}
#footer-text{
    font-size: 1rem;
    line-height: 2rem;
    text-align: start;
}

#email-button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #091D30;
    font-size: 0.8rem;
    margin-top: 0.8rem;
    width: fit-content;
    border-radius: 1rem;
    padding-left: 1rem;
    margin-left: -0.5rem;
}
div>h2{
    padding-left: 1.2rem;
    padding-right: 1rem;
}
#last-ilustration{
    width: 31vw;
}
section>div:nth-child(2){
    padding: 0rem;
    margin-left: 2rem

}
nav:last-child{
    background: none;
}
ul:last-child{
    display: flex;
}
nav:last-child{
    margin-top:2rem;
}