*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1.05em;
    font-family: 'Raleway', sans-serif;
    color: rgba(242, 247, 242);
}
a {
    text-decoration: none;
}
li{
    list-style: none;
}

body{
    background: linear-gradient(286.13deg, #64DFDF 4.4%, #56CFE1 17.74%, #4EA8DE 27.75%, #5390D9 40.51%, #5E60CE 53.24%, #6930C3 66.13%, #6528B8 79.77%, #580C92 93.23%);
    height: 100vh;
    max-height: 100%
}

/* Id Section*/
#navbar{
    top:0;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-top:2rem;
    margin-top: 1rem;
}
#navbar ul{
    display: flex;
    align-items: center;    
}
#navbar ul li a{
    margin-right: 5em;
    padding-right: 2rem;
    font-size: 1em;
}
#navbar ul li{
    padding-right: 0rem;
    padding-left: 0rem;
}
#logo-header{
    padding-left:6.7rem;
}
#logo-text{
    font-size: 1em;
}
#mail-icon{
    max-width:80px;
}

/* Main Section*/

#aboutme{
    color: #64DFDF;
    font-weight: bold;
}
article{
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 6em;  
    margin-left:7.5rem;
    line-height: 3.6rem;
    letter-spacing: 0;

}
.header-text{
    font-size: 2.4rem;
    font-weight: 600;
}
#webdev{
    color: #64DFDF;
}
article p{
    color:rgba(255, 255, 255, 0.8);
    font-size:1.8rem;
    font-weight: lighter;

}  
.contact{
    margin-left: -6%;
}
.contact img{
    margin: 1.5rem;
    width: 2.2rem;

}
.contact img:last-child{
    width: 2.7rem;
}
#main-ilustration{
    max-width: 50vw; 
    max-height: 75vh;
    justify-self: flex-end;
    padding-left: 1.8rem;
    margin-top: -7%;

}

